/* Calender csss===== */
.react-calendar { 
    width: 500px;
    height: auto;
    max-width: 100%;
 
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
   }
   .react-calendar__navigation button {
    
    color: #ee8900;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
   }
   .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
   }
   abbr[title] {
    text-decoration: none;
   }
   /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
   .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #ee8900;
    border-radius: 6px;
   }
   .react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #ee8900;
   }
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #ee8900;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
   }
   .react-calendar__tile--active {
    background: #ee8900;
    border-radius: 6px;
    font-weight: bold;
    color: white;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: #ee8900;
    color: white;
   }
   .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
   }
   .react-calendar__tile--range {
    background: #f8f8fa;
    color: #ee8900;
    border-radius: 0;
   }
   .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #ee8900;
    color: white;
   }
   .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #ee8900;
    color: white;
   }
   /* -----------------self written css-------------- */
   .dateAndtime{
    font-size: 50px;
   }
   
  
  .forDropbotton{
    display: flex;
    font-size: 15px;
    float: right;
    border: none;
    background-color: none;
    padding-right:50px;
    height: 20px;
  }
  .forDropbotton div{
    padding-right: 20px;
  }

  #dateheader{
    font-size: 22px;
    align-items: center;
    justify-content: center;
  }
  #dateheaderdiv{
    align-items: center;
    width: max-content;
  }
  
  .report-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .fixcontainerheight{
    height: 90%;
  } */

  @media(max-width: 447px){
    #dateheaderdiv{
      align-items: center;
      width: 100%;
    }
    #dateheader{
      font-size: 22px;
    }
   }

  @media(max-width: 760px){
    #reportfirstrow {
      display: flex;
      flex-direction: column;
    }
    #reportfirstrow .col-6{
      width: 100%;
    }
    #daterange{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    #dateheader{
      font-size: 22px;
    }
    #dateheaderdiv{
      align-items: center;
      justify-content: center;
      width: 100%;
    }

  }